{% extends 'base.html.twig' %}

{% block title %}Hello EditorController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Editors</h1>

    <a href="{{ path('editor_create') }}" class="btn btn-success">Create New Editor</a>
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Editor number</th>
            <th scope="col">Specialty</th>
            <th scope="col">Books</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for editor in editors %}
            <tr>
                <td scope="row">{{ editor.name }}</td>
                <td scope="row">{{ editor.editorNumber}}</td>
                <td scope="row">{{ editor.specialty }}</td>
                <td scope="row">
                    <button type="button" onclick="toggleBooks({{ editor.id }})" class="btn btn-secondary">Show Books</button>
                    <ul id="books-{{ editor.id }}" style="display: none;">
                        {% for book in editor.books %}
                            <li>{{ book.title }}</li>
                        {% else %}
                            <li>No books</li>
                        {% endfor %}
                    </ul>
                </td>
                <td scope="row" style="display: flex; flex-direction: row" >
                    <a href="{{ path('editor_update', {id: editor.id}) }}" class="btn btn-primary mx-1">Edit</a>
                    <form method="POST" action="{{ path('editor_delete', {id:  editor.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ editor.id) }}">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        function toggleBooks(bookId) {
            const booksList = document.getElementById(`books-${bookId}`);
            if (booksList.style.display === "none") {
                booksList.style.display = "block";
            } else {
                booksList.style.display = "none";
            }
        }
    </script>
</div>
{% endblock %}
