{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Post</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}
    </div>

    <div class="form-group">
        {{ form_label(form.content) }}
        {{ form_widget(form.content) }}
        {{ form_errors(form.content) }}
    </div>

    <button class="btn btn-primary" type="submit">Update Post</button>
    {{ form_end(form) }}

    <a href="{{ path('list_post', {id: post.id}) }}">Back to post</a>
{% endblock %}