{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>
<div class="example-wrapper">

    {% if is_granted('ROLE_AUTHOR') or is_granted('ROLE_ADMIN') %}
        <a href="{{path('post_create') }}" class="btn btn-primary">Create new post</a>
    {% endif %}

    {% for post in posts %}
        <div class="card">
            <div class="card-header">
                {{ post.author.username }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
                <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-primary">Edit Post</a>
                <a href="{{ path('post_delete', {'id': post.id}) }}" class="btn btn-primary">Delete Post</a>
                <a href="{{ path('comment_create', {'postId': post.id}) }}" class="btn btn-primary">Write a comment</a>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}
