{% extends 'base.html.twig' %}

{% block title %}Hello AuthorController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 80%; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Authors</h1>
    <a href="{{ path('author_create') }}" class="btn btn-success">Create New Author</a>
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Year of Birth</th>
            <th scope="col">Nationality</th>
            <th scope="col">Books</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td scope="row">{{ author.name }}</td>
                {% if author.birthDate %}
                    <td scope="row">{{ author.birthDate|date('Y-m-d')}}</td>
                {% else %}
                    <em>No Birth Date</em>
                {% endif %}
                <td scope="row">{{ author.nationality }}</td>
                <td scope="row">
                    <button type="button" onclick="toggleBooks({{ author.id }})" class="btn btn-secondary">Show Books</button>
                    <ul id="books-{{ author.id }}" style="display: none;">
                        {% for book in author.books %}
                            <li>{{ book.title }}</li>
                        {% else %}
                            <li>No books</li>
                        {% endfor %}
                    </ul>
                </td>
                <td scope="row" style="display: flex; flex-direction: row" >
                    <a href="{{ path('author_edit', {id: author.id}) }}" class="btn btn-primary mx-1">Edit</a>
                    <form method="POST" action="{{ path('author_delete', {id:  author.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ author.id) }}">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        function toggleBooks(authorId) {
            const booksList = document.getElementById(`books-${authorId}`);
            if (booksList.style.display === "none") {
                booksList.style.display = "block";
            } else {
                booksList.style.display = "none";
            }
        }
    </script>
</div>
{% endblock %}
